<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.billing.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.billing.entity.User" >
    <id column="u_id" property="uId" jdbcType="BIGINT" />
    <result column="wx_id" property="wxId" jdbcType="VARCHAR" />
    <result column="u_name" property="uName" jdbcType="VARCHAR" />
    <result column="u_gender" property="uGender" jdbcType="VARCHAR" />
    <result column="u_phone" property="uPhone" jdbcType="VARCHAR" />
    <result column="u_email" property="uEmail" jdbcType="VARCHAR" />
    <result column="u_city" property="uCity" jdbcType="VARCHAR" />
    <result column="u_school" property="uSchool" jdbcType="VARCHAR" />
    <result column="u_no" property="uNo" jdbcType="VARCHAR" />
    <result column="u_grade" property="uGrade" jdbcType="VARCHAR" />
    <result column="u_class" property="uClass" jdbcType="VARCHAR" />
    <result column="u_location" property="uLocation" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    u_id, wx_id, u_name, u_gender, u_phone, u_email, u_city, u_school, u_no, u_grade, 
    u_class, u_location
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_user
    where u_id = #{uId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_user
    where u_id = #{uId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.billing.entity.User" >
    insert into tb_user (u_id, wx_id, u_name, 
      u_gender, u_phone, u_email, 
      u_city, u_school, u_no, 
      u_grade, u_class, u_location
      )
    values (#{uId,jdbcType=BIGINT}, #{wxId,jdbcType=VARCHAR}, #{uName,jdbcType=VARCHAR}, 
      #{uGender,jdbcType=VARCHAR}, #{uPhone,jdbcType=VARCHAR}, #{uEmail,jdbcType=VARCHAR}, 
      #{uCity,jdbcType=VARCHAR}, #{uSchool,jdbcType=VARCHAR}, #{uNo,jdbcType=VARCHAR}, 
      #{uGrade,jdbcType=VARCHAR}, #{uClass,jdbcType=VARCHAR}, #{uLocation,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.billing.entity.User" >
    insert into tb_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uId != null" >
        u_id,
      </if>
      <if test="wxId != null" >
        wx_id,
      </if>
      <if test="uName != null" >
        u_name,
      </if>
      <if test="uGender != null" >
        u_gender,
      </if>
      <if test="uPhone != null" >
        u_phone,
      </if>
      <if test="uEmail != null" >
        u_email,
      </if>
      <if test="uCity != null" >
        u_city,
      </if>
      <if test="uSchool != null" >
        u_school,
      </if>
      <if test="uNo != null" >
        u_no,
      </if>
      <if test="uGrade != null" >
        u_grade,
      </if>
      <if test="uClass != null" >
        u_class,
      </if>
      <if test="uLocation != null" >
        u_location,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uId != null" >
        #{uId,jdbcType=BIGINT},
      </if>
      <if test="wxId != null" >
        #{wxId,jdbcType=VARCHAR},
      </if>
      <if test="uName != null" >
        #{uName,jdbcType=VARCHAR},
      </if>
      <if test="uGender != null" >
        #{uGender,jdbcType=VARCHAR},
      </if>
      <if test="uPhone != null" >
        #{uPhone,jdbcType=VARCHAR},
      </if>
      <if test="uEmail != null" >
        #{uEmail,jdbcType=VARCHAR},
      </if>
      <if test="uCity != null" >
        #{uCity,jdbcType=VARCHAR},
      </if>
      <if test="uSchool != null" >
        #{uSchool,jdbcType=VARCHAR},
      </if>
      <if test="uNo != null" >
        #{uNo,jdbcType=VARCHAR},
      </if>
      <if test="uGrade != null" >
        #{uGrade,jdbcType=VARCHAR},
      </if>
      <if test="uClass != null" >
        #{uClass,jdbcType=VARCHAR},
      </if>
      <if test="uLocation != null" >
        #{uLocation,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.billing.entity.User" >
    update tb_user
    <set >
      <if test="wxId != null" >
        wx_id = #{wxId,jdbcType=VARCHAR},
      </if>
      <if test="uName != null" >
        u_name = #{uName,jdbcType=VARCHAR},
      </if>
      <if test="uGender != null" >
        u_gender = #{uGender,jdbcType=VARCHAR},
      </if>
      <if test="uPhone != null" >
        u_phone = #{uPhone,jdbcType=VARCHAR},
      </if>
      <if test="uEmail != null" >
        u_email = #{uEmail,jdbcType=VARCHAR},
      </if>
      <if test="uCity != null" >
        u_city = #{uCity,jdbcType=VARCHAR},
      </if>
      <if test="uSchool != null" >
        u_school = #{uSchool,jdbcType=VARCHAR},
      </if>
      <if test="uNo != null" >
        u_no = #{uNo,jdbcType=VARCHAR},
      </if>
      <if test="uGrade != null" >
        u_grade = #{uGrade,jdbcType=VARCHAR},
      </if>
      <if test="uClass != null" >
        u_class = #{uClass,jdbcType=VARCHAR},
      </if>
      <if test="uLocation != null" >
        u_location = #{uLocation,jdbcType=VARCHAR},
      </if>
    </set>
    where u_id = #{uId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.billing.entity.User" >
    update tb_user
    set wx_id = #{wxId,jdbcType=VARCHAR},
      u_name = #{uName,jdbcType=VARCHAR},
      u_gender = #{uGender,jdbcType=VARCHAR},
      u_phone = #{uPhone,jdbcType=VARCHAR},
      u_email = #{uEmail,jdbcType=VARCHAR},
      u_city = #{uCity,jdbcType=VARCHAR},
      u_school = #{uSchool,jdbcType=VARCHAR},
      u_no = #{uNo,jdbcType=VARCHAR},
      u_grade = #{uGrade,jdbcType=VARCHAR},
      u_class = #{uClass,jdbcType=VARCHAR},
      u_location = #{uLocation,jdbcType=VARCHAR}
    where u_id = #{uId,jdbcType=BIGINT}
  </update>
</mapper>